*{box-sizing: border-box;};
body{scroll-behavior: smooth;background:rgb(27, 27, 48); ;}
html{scroll-behavior: smooth;}

/*custom scrollbar.........................................*/
body::-webkit-scrollbar{width: 4px;}
body::-webkit-scrollbar-button{height: 0}
body::-webkit-scrollbar-thumb{background:linear-gradient(red,purple);border-radius: 30px;}
body::-webkit-scrollbar-track{background: linear-gradient(#777,#ccc);}
/*custom scrollbar ends.........................................*/

.nav-wrapper .social-network li a{font-weight: 600;font-size: 19px;}
.nav-wrapper ul li:hover a{color: #f1f1f1;text-decoration: none;}
.sidenav a{text-decoration: none;}
.sidenav ul li{background: #000;color: #f1f1f1;}
nav{background:rgb(27, 27, 48);}
@media screen and (min-width:600px){
    nav{height: 80px;padding: 10px;}
    /*sidenav pic user pic*/
    .sidenav .user-view .circle {
        height: 90px !important;
        width: 90px !important;
    }
    
}


/*body.............................................................................*/

.banner{
    height:90vh;
    background-image:url('https://images.pexels.com/photos/34125/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') ;
    margin: auto;
    padding:50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#f1f1f1;
    text-align: center;
}
.banner h1{font-weight: 700;padding-top: 10%;
text-shadow:7px 1px 3px blue ;
font-family:  'Vidaloka', serif;




}
@media screen and (max-width:600px){
    .banner{height:92vh;opacity: 1;}
    .banner h1{font-weight: 700;padding-top: 10%;font-size: 30px;opacity: 1;}
    .nav-wrapper .social-network li a{font-weight: 500;font-size: 19px;padding:0 12px;}
}
/*about me........................*/
.about-me{background: linear-gradient(#2E3192 , #1BFFFF);color: #f1f1f1;padding:6%;height: 100vh;}
.about-me .face{width: 40%;float: left;}
.about-me .face img{border-radius: 50%;}
.about-me .info{width: 60%;float: right;box-sizing: border-box;padding: 20px;}
.about-me .info p{margin-bottom: 30px;font-family:  'Vidaloka', serif;}
.about-me .info h2{font-family:  'Vidaloka', serif;}
.clear{clear: both;}
a.aboutbutton{color: #f1f1f1;text-decoration: none;}
.aboutbutton:hover{transform: scale(1.2);padding: 15px 60px;transition: all 0.6s linear;}
.aboutbutton{
  padding: 15px 40px;
  background: linear-gradient(red,rgb(15, 10, 15));
  color: #f1f1f1;
  border-radius: 50px;
  text-decoration: none;
  border: 2px solid #ddd}
  /*-------sidebar mibile..........................*/
 
  
    /*-------sidebar mibile..........................*/


@media screen and (max-width:600px){
    h1,h2,h3{font-size: 2rem;}
    .about-me{display: block;}
    .about-me .face{width: 100%;text-align: center;float:none;}
    .about-me .info{width: 100%;text-align: center;font-family:  'Vidaloka', serif;}
}
/**about me ends.................../



/* footer...........................................................................*/
footer{background: rgb(18, 12, 49);
width: 100%;
color: #f1f1f1;
border-top: 2px solid #f1f1f1;
overflow: hidden;
}

.footer-widget{overflow: hidden;}
.footer-widget h2{font-size: 24px;border-bottom: 1px solid #ddd;padding: 15px 7px;

    
    font-family:  'Vidaloka', serif;
        
      animation: borders 0.4s infinite ,textt 0.6s infinite;
      transition: all 0.6s linear;

}
@keyframes borders{
    0%{border-bottom: 1px solid #ddd;}
    20%{border-bottom: 1px solid rgb(133, 179, 80)}
    40%{border-bottom: 1px solid rgb(96, 60, 196)}
    60%{border-bottom: 1px solid rgb(245, 58, 58)}
    80%{border-bottom: 1px solid rgb(218, 87, 174)}
    100%{border-bottom: 1px solid rgb(93, 231, 224);}
}

@keyframes textt{
    0%{color:  #ddd;}
    20%{color: rgb(133, 179, 80)}
    40%{color:  rgb(96, 60, 196)}
    60%{color:  rgb(245, 58, 58)}
    80%{color:  rgb(218, 87, 174)}
    100%{color:  rgb(93, 231, 224);}
}


@keyframes moves{
    0%{padding-left: 100px;}
    100%{transform: translateX(20px);}
}
@keyframes movesfooter{
    0%{padding-left: 60px;}
    100%{transform: translateX(20px);}
}




.footer-widget ul{list-style: none;}
.footer-widget ul li{padding: 5px;color: #f1f1f1;text-align: left;overflow: hidden;}
.footer-widget ul li:hover{padding: 5px;color: #f1f1f1;text-align: left;}
.footer-widget ul li:hover a{animation: movesfooter 0.4s,textt 0.4s;}
.footer-widget ul li a{color: #aca1a1;text-decoration: none;}


footer .footer-bottom{background: rgb(5, 5, 29);
color: #f1f1f1;padding: 30px;text-align: center;}

footer .footer-bottom>a{text-decoration: none;color: #9e9a9a;}
